@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,300&display=swap');

* {
margin: 0;
padding: 0;
border:0;
outline: 0;
list-style: none;
text-decoration: none;
}

:root{
--color-bg : #1f1f38;
--color-bg-variant: #a6cfff;
--color--primary: #4db5ff;
--color-primary-variant: rgba(77,181,255,0.4);
--color-white: #fff;
--color-light: rgba(255,255,255,0.6);

}
ul{
  padding: 15px;
}

h1{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  white-space: nowrap;
  font-size: 3rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  z-index: 1

}
h2{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  white-space: nowrap;
  color: bisque;

}
 /* html, body .dark{
 
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  overflow-x: hidden;
  height: 100%;
}
html, body .light{
  background-color:var(--color-bg-variant);
  line-height: 1.7;
  overflow-x: hidden;
  height: 100%;
} */

html.light {
  background-color: var(--color-bg-variant);
  color: var(--color-bg);
  line-height: 1.7;
  overflow-x: hidden;
  height: 100%;
}

html.dark {
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  overflow-x: hidden;
  height: 100%;
}

html{
  scroll-behavior: smooth;

}


::-webkit-scrollbar{
  display:none;

}
.links{
display: flex;
align-items: center;
gap:0 20px;
font-weight: 500;
white-space: nowrap;
text-decoration: none;

}




@media (max-width: 768px){
  h1{
    font-family: "Poppins", sans-serif;
    font-style: italic;
    white-space: nowrap;
    font-size: 20px;

  }
  h2{
    font-family: "Poppins", sans-serif;
font-size: 17px;
  }
 
}