:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.dark .cardStyle{
  background: #4d4a4a;
  background: radial-gradient(#050414, #1b033ba2);
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  

}
.light .cardStyle{
 background: #4d4a4a;
  background: radial-gradient(#ffffff, #33d6ada2);
  border: 1px solid #0c382d;
  color: rgba(0, 0, 0, 0.8);
  p{ color: #050414;}
  li{  background: radial-gradient(#4be6d9, #e2e2e2);
    border: 1px solid #0c382d;
    color: rgba(250, 250, 250, 0.9);

  }

  .gigtasticLink{
    color: #152ba8;
  }
  
}

.cardStyle {
  position: relative;
  border-radius: 20px;
  padding: 3rem;
  max-width: 800px;
  transition: box-shadow 0.3s ease;
  text-align: center;
  margin: 0 auto;
  float: none;
  margin-top: 1rem;
  margin-bottom: 3rem;
  opacity: 0; 
  animation: fadeInUp 0.3s forwards;
  animation-delay: calc(0.3s * var(--animation-order));
}

.cardImage {
  animation: fadeIn 2s;
  border-radius: 20px;
  width: 100%;
  height: auto;
}
.cardImageNC{
 width: 600px;
 animation: fadeIn 2s;

}
.cardImage2{
  border-radius: 20px;
  animation: fadeIn 2s;
  height: auto;
}
.cardImageAd{
  margin-top: 2rem;
  border-radius: 30px;
  width: 35rem;
  margin-bottom: 2rem;
}
.external {
  color: #fff;
  text-decoration: none;
}

.external:hover {
  color: #dd2476;
}

.cardStyle p {
  margin-bottom: 1rem;
  line-height: 1.6;
  text-align: left;
}

.cardStyle li {
  border-radius: 20px;
  background: radial-gradient(#1b1b1b, #333);
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.9);
  padding: 0.5rem 0.5rem 0.5rem 2rem; 
  transition: box-shadow 0.3s ease;
  list-style-type: none;
  margin-bottom: 1rem;
  opacity: 0; 
  animation: fadeInUp 0.6s forwards;
  animation-delay: calc(0.5s * var(--animation-order)); 
}

.cardStyle li p {
  margin-top:0.1rem;
  margin-left: 1rem; 
}

.cardStyle li::before {
  content: "👉";
  position: absolute;
  left: 1rem;
  top: 0.5rem; 
  font-size: 1rem; 
}
.gigtasticLink{
  color: #ffde34;
}


@media (max-width: 768px) {
  
  .experienceTitle{
    font-family: "Poppins", sans-serif;
    font-style: italic;
    white-space: nowrap;
    font-size: 25px;
  }
  .cardStyle li p {
    margin-top:0.1rem;
    margin-left: 2.3rem; 
  }

.pCard{
margin-left: 3rem;
margin-right: 3rem;

}
  .cardStyle {
    margin-left: 5.5rem;
    margin-right: 0.5rem;
    padding: 1rem;

  }
  .cardImage2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:250px;
  }
  .cardImageNC{
    width: 16rem;
   
   }
  .cardImageAd {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:250px;
  }

  .cardStyle p {
    font-size: 14px;
    
  }

  .cardStyle li {
  
    font-size: 12px;
    
    padding: 0.5rem;
  }


}


  
@media (max-height: 500px ){
  .cardStyle {
    margin-left: 5.5rem;
    margin-right: auto;
    padding: 1rem;

  }
  
}
