:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardStyle {
  position: relative;
  border-radius: 20px;
  background: #4d4a4a;
  background: radial-gradient(#050414, #1b033ba2);
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  padding: 3rem;
  max-width: 800px;
  transition: box-shadow 0.3s ease;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  float: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: 0; 
  animation: fadeInUp 0.3s forwards;
  animation-delay: calc(0.3s * var(--animation-order));
}

.cardImage {
  border-radius: 20px;
  width: 100%;
  height: auto;
}
.cardImage2{
  border-radius: 20px;

  height: auto;
}
.cardImageAd{
  margin-top: 2rem;
  border-radius: 30px;
  width: 35rem;
  margin-bottom: 2rem;
}
.external {
  color: #fff;
  text-decoration: none;
}

.external:hover {
  color: #dd2476;
}

.cardStyle p {
  margin-bottom: 1rem;
  line-height: 1.6;
  text-align: left;
}

.cardStyle li {
  border-radius: 20px;
  background: radial-gradient(#1b1b1b, #333);
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.9);
  padding: 0.5rem;
  transition: box-shadow 0.3s ease;
  list-style-type: none;
  margin-bottom: 1rem;
  opacity: 0; 
  animation: fadeInUp 0.6s forwards;
  animation-delay: calc(0.5s * var(--animation-order)); 
}

.cardStyle li p {
  display: flex;
  align-items: center;
}

.cardStyle li p::before {
  content: "👉";
  margin-right: 0.5rem;
}