@import url('https://fonts.googleapis.com/css?family=Montserrat');


* {
    box-sizing: border-box;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.light .cardBody{
    background-color: #a6cfff;
    .card-container{
        background-color: #5ea3f3;
    }
    h3, h6, p{
        color: #19191b;
    }
    .buttons li.secondary {
        user-select: auto;
        background-color: transparent;
        color: #000000;
        border: 1px solid #203538;
        margin-left: 10px;
        margin-right: 10px;
    }

.buttons li.primary {
    user-select: auto;
    background-color: #6ddae2;
    border: 1px solid #091111;
    border-radius: 3px;
    color: #231E39;
    
}
.skills{
    background-color:#6289b6;
}
.skills ul li {
    border: 1px solid  #203538;
    color: #B3B8CD; 
    color: #141414; 
}
.card-container .junior {
    color: #212122;
    background-color:#6289b6;
}
.profilePictureRound{
    border: 3px solid #6289b6;
}
}
.cardBody {
    background-color:  #1f1f38;
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h3 {
    margin: 10px 0;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
    color: #B3B8CD;
}

.card-container {
    
    background-color: #231E39;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
    animation: fadeIn 1s ease-in-out
}

.card-container .junior {
    color: #231E39;
    background-color: #FEBB0B;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}


.card-container .profilePictureRound {
    animation: fadeIn 4s ;
    border: 3px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
    margin-top: 20px;
    width: 150px; 
    height: 150px;
    object-fit: cover; 
}


.buttons li.primary {
    user-select: auto;
    background-color: #03BFCB;
    border: 1px solid #03BFCB;
    border-radius: 3px;
    color: #231E39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons li.secondary {
    user-select: auto;
    background-color: transparent;
    color: #02899C;
    border: 1px solid #02899C;
    margin-left: 10px;
    margin-right: 10px;
}

.skills {
    background-color: #1F1A36;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px; 
}

.skills h6 {
    color: #B3B8CD;
    margin-bottom: 10px; 
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #5b4ca0;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
    color: #B3B8CD; 
}

@media (max-width: 768px) {

    .card-container {
        
    margin-left: 15rem;
    margin-right: 10rem;
    }

    .card-container .profilePictureRound {
        width: 120px;
        height: 120px;

    }

    .buttons li.primary, 
    .buttons li.secondary {
        padding: 8px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 12px;
    }

    .skills {
        margin-top: 20px;
        margin-left: 20px;
    }
    .skills ul{
        margin-left:20px
    }

       }

       @media (max-width: 700px)  {
       
        .skills {
            margin-top: 1.25rem;
            margin-left: 0.0001px;
        }
        .skills ul{
            margin-left:1.25rem;
        }
        .skills h6{
            margin-left: 1.25rem;
        }
    }


