
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.dark{
  .sidebar {
    -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: linear-gradient(to left, #161a2d 70%, rgba(22, 26, 45, 0) 100%);
    padding: 25px 20px;
    transition: all 0.3s ease;
    z-index: 1000;
  }
  h2{
    color: #ffffff;
  }

  .links:hover{
    background: rgb(24, 16, 39);
    color: #fff;
    border-radius:  4px;
    
    
    }
    .Link{
      color: #85b3c5
    }
  
}

.light{
  .sidebar {
    -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: linear-gradient(to right, #5ea3f3 97%, rgba(22, 26, 45, 0) 100%);
    padding: 25px 20px;
    transition: all 0.3s ease;
    z-index: 1000;
  }
 
  h2, h4{
    color: #000000;
  }
  .sidebar .links{
    color: #000000;
  }

  .links:hover{
    background: rgb(199, 211, 214);
    color: #110f0f;
    border-radius:  4px;
    
    
    }
    .Link{
      color: #0633ad
    }
  
}
  .sidebar:hover {
    
    width: 260px;
    .profileInfo{
      width: 15.625rem;
  height: 6.563rem;

      animation: fadeIn 1s;
      :hover {
        transform: translateX(0);
      }
    }
    .sidebarList{
      transition: transform 1s ease; 
      transform: translateY(1.5rem)
    }
  }
 .listContainer{
  animation: fadeIn 1s;
 
 }
  
  .sidebar .sidebar-header {
    display: flex;
    align-items: center;
  }
  
  .sidebar .sidebar-header img {
    width: 42px;
    border-radius: 50%;
  }
  
  .sidebar .sidebar-header h2 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 23px;
  }
  
  .sidebar-links h4 {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    margin: 10px 0;
    position: relative;
  }
  
 
  
  .sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
  }
  
  .sidebar-links::-webkit-scrollbar {
    display: none;
  }
  
  .sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    padding: 15px 10px;
    text-decoration: none;
    transition: 0.2s ease;
  }
  
  .sidebar-links li a:hover {
    color: #161a2d;
    background: #fff;
    border-radius: 4px;
  }
  p#arrow.links{
  display:flex;
  flex-direction: row;

}

  
  .profilePicture{
    width: 60px; 
    height: 60px;
    object-fit: cover; 
 
    border-radius: 50%;
  }

  .icons{
    height: 20px;
    margin-bottom: -4px;
    margin-right: 1rem;
  }
  .iconFire{  
    height: 20px;
    margin-bottom: -4px;
    margin-left: -21.5px;
    }
    .iconRepo{  
      height: 35px;
margin-bottom: 10px ;
padding: 1px;
      }
      
    .iconArrow{
      height: 20px;
      margin-left: 2rem;
   
    }

  .projectButtons{

    align-items: center;
    margin: 0 auto;


  }
  .socials{
    height: 40px;
    border-radius: 30%;
    padding: 0.5rem;
    margin-left: 2rem;
  }
  

