
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    background: #F0F4FF;
    overflow-x: hidden; 
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: #161a2d;
    padding: 25px 20px;
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar:hover {
    
    width: 260px;
    .profileInfo{
      width: 15.625rem;
  height: 6.563rem;

      animation: fadeIn 1s;
      :hover {
        transform: translateX(0);
      }
    }
    .sidebarList{
      transition: transform 1s ease; 
      transform: translateY(1.5rem)
    }
  }
 
  
  .sidebar .sidebar-header {
    display: flex;
    align-items: center;
  }
  
  .sidebar .sidebar-header img {
    width: 42px;
    border-radius: 50%;
  }
  
  .sidebar .sidebar-header h2 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 23px;
  }
  
  .sidebar-links h4 {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    margin: 10px 0;
    position: relative;
  }
  
 
  
  .sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
  }
  
  .sidebar-links::-webkit-scrollbar {
    display: none;
  }
  
  .sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    padding: 15px 10px;
    text-decoration: none;
    transition: 0.2s ease;
  }
  
  .sidebar-links li a:hover {
    color: #161a2d;
    background: #fff;
    border-radius: 4px;
  }
  p#arrow.links{
  display:flex;
  flex-direction: row;

}
  
  .profilePicture{

    height: 60px;
    border-radius: 50%;
  }

  .icons{
    height: 20px;
    margin-bottom: -4px;
    margin-right: 1rem;
  }
  .iconFire{  
    height: 20px;
    margin-bottom: -4px;
    margin-left: -21.5px;
    }
    .iconRepo{  
      height: 35px;
margin-bottom: 10px ;
padding: 1px;
      }
      
    .iconArrow{
      height: 20px;
      margin-left: 2rem;
     color: azure;
    }

  .projectButtons{

    align-items: center;
    margin: 0 auto;


  }
  .socials{
    height: 40px;
    border-radius: 30%;
    padding: 0.5rem;
    margin-left: 2rem;
  }
  .Link{
    color: #F0F4FF
  }


