* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .skillsContainer {
    margin-top: 2rem;
        display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .skillsRow {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
  }
  .dark .card{
    background: #4d4a4a;
    background: radial-gradient(#1106aa, #4d297ba2);
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
  }

  .light .card{
    background: #4d4a4a;
    background: radial-gradient(#4be6d9, #e2e2e2);
    border: 1px solid#141414;
    h4{
      color: #141414;
    }
  }
  .card {
    background: #4d4a4a;
    background: radial-gradient(#1106aa, #4d297ba2);
    border: 1px solid #dd2476;
    border-radius: 20px;
   
    padding: 20px;
    width: 200px;
    transition: box-shadow 0.3s ease;
    text-align: center;
  }
  
  .card h4 {
    color: #fff;
    margin-bottom: 15px;
  }
  
  .card ul {
    list-style-type: none;
  }
  
  .card ul li {
    background: radial-gradient(#1b1b1b, #333);
    border: 1px solid #dd2476;
    border-radius: 10px;
    color: rgba(250, 250, 250, 0.9);
    padding: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
  }
  
  .card ul li p {
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .card ul li p::before {
    content: "☑️";
    margin-right: 0.5rem;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .frontend {
    max-width: 420px;
  }

  @media (max-width: 700px) {
    .card{
      margin-left: 1.5rem;
      width: 200px;
    }
    .card.frontend{
      
      width:200px;
      padding: 10px;
    }
    .skillsContainer {
     
      margin-top: 1rem;
      gap: 10px;
    }
  
    .skillsRow {
      flex-direction: column;
      gap: 10px;
    }
  

    .card h4 {
      margin-left:50% auto;
      margin-right:50% auto;
      margin-bottom: 10px;
    }
    .card.frontend h4{
      margin-top: 6px
        
      }
      
 
  }
  
 
@media (max-height: 500px) {
  .skillsContainer {
    margin-top: 1rem;
  }

  .skillsRow {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .skillsContainer .card {
    width: calc(50% - 10px);
    margin: 5px;
  }
.card.frontend h4{
margin-top: 6px
  
}

  

}